﻿/*!
 * Extend Bootstrap v2.3.1 to provide cell alignment (doh)
 *
 */

body {
    min-height: inherit;
    padding-top: 70px;
    font-family:  "Open Sans", Helvetica, Arial, sans-serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Open Sans", "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: normal;
    letter-spacing:3px;
    color: black;
}

.navbar {
    border:0px;
    text-transform: uppercase;
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    opacity:0.96;
    box-shadow: 1px 1px 5px #888888;

}

.form-control {
    width: 25%;

}

.table td {
    font-size: large;
}

.tdCenter {
    width: 250px;
}

.table td.tdRight {
    text-align: center;
    width: auto;

}

.table td.tdCenter {
    text-align: center;

}

.table-nonfluid {
    width: auto;
}

.modal-backdrop {
    position: relative;
}

.btn {
    margin-bottom: 5px;
}