﻿<p class="text-info">
    <br>Witamy w sklepie Groszek.</br>

</p>
<p>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Search:</span>
    <input type="text" ng-model="search" class="form-control" placeholder="Type product..." aria-describedby="basic-addon1">
</div>
</p>

<table class="table table-bordered">
	<div class="well">
		<ul class="nav nav-pills nav-justified ">
  			<li role="presentation" class="active"><a href="#" alt="">Vegetables</a></li>
  			<li role="presentation"><a href="#">Fruits</a></li>
  			<li role="presentation"><a href="#">Bread</a></li>
  			<li role="presentation"><a href="#">Sweets</a></li>
  			<li role="presentation"><a href="#">Milk products</a></li>
            <li role="presentation"><a href="#">Others</a></li>
        </ul>
</div>

    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search" >
        <td class="tdCenter"><img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.name}}" /></td>
        <td>
            <a href="#/products/{{product.sku}}"><b>{{product.name}}</b></a><br />
            {{product.description}}
        </td>
        <td class="tdRight">
            {{product.price | currency}}
        </td>
        <td class="tdCenter">
            <button class="btn btn-default"  ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> add to cart
            </button>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart"> <button class="btn btn-primary btn-lg" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </button></a>
        </td>
    </tr>
</table>
